section {
    width: 80%;
    margin: 0 auto 0 auto;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.item:nth-child(1) {
    width: 43%;
    background-color: black;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:nth-child(2) {
    width: 80%;
    height: auto;
    background-color: aliceblue;
}

.second-box {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;

}

.item2 {
    font-family: "Hammersmith One", sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 5px 4px 5px 100px;
    
}

.third-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* .item3:hover {
    cursor: pointer;
    background-color: #813cc0;
} */

.item3 {
    margin-top: 17px;
    width: 70px;
    height: 70px;
    background-color: #270e31;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}

.item3:hover{
    border: 4.5px solid #813cc0;
}

.img-about {
    width: 56%;
    max-width: 900px;
    justify-content: end;
    display: flex;
}

.icon-about {
    height: 30px;
    width: 30px;
}

.about-text-final {
    color: #fff;
    font-size: 20px;
    font-family: "Hammersmith One", sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
    margin: 0 auto;
    max-width: 1000px;
    line-height: 1.6;
}